<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <form class="uk-form-stacked">

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Search by the Order Id</label>
            <div class="uk-form-controls">
                <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
            </div>
        </div>
    
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">What is done ah?</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-stacked-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                </select>
            </div>
        </div>
    
        <div class="uk-margin">
            <div class="uk-form-label">Radio</div>
            <div class="uk-form-controls">
                <label><input class="uk-radio" type="radio" name="radio1"> Option 01</label><br>
                <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
            </div>
        </div>
    
    </form>
</body>
</html>