<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Commodoties Order</h1>

	<form method="POST" action="/make_order">

		<table>
			<tr>
				<td>
					<label for="name">Name</label>
				</td>
				<td>
					<input id="name" type="text" name="name" size="40" required>
				</td>
			</tr>
			<tr>
				<td>Date:</td>
				<td>
					<input type="date" name="date">
				</td>
			</tr>
		</table>

		<table>
			<thead>
				<tr>
					<th> Type of Commodity </th>
                    <th> Price (in $ / g)</th>
					<th> Quantity (in grams)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<!-- <input type="number" name="prod_id-0" value="" min=1> -->
                        <div class="mb-3">
                            <!-- <label for="type" class="form-label">Metal Type</label> -->
                            <select class="form-select" id="type" name="type-0">
                                <option value="XAU" selected>Gold</option>   
                                <option value="XAG">Silver</option>
                                <!-- <option value="ethiopia">Ethiopia</option>
                                <option value="colombia">Colombia</option> -->
                            </select>
                        </div>
					</td>
					<td>
						<!-- <input type="number" name="price-0" value="${gold_price}"> -->
                        <span data-th-text="${gold_price}" name="price-0"></span>
					</td>
                    <td>
                        <input type="number" name="qty-0" value="">
                    </td>
				</tr>
				<tr>
                    <td>
						<!-- <input type="number" name="prod_id-0" value="" min=1> -->
                        <div class="mb-3">
                            <!-- <label for="type" class="form-label">Metal Type</label> -->
                            <select class="form-select" id="type" name="type-1">
                                <option value="XAU" selected>Gold</option>   
                                <option value="XAG">Silver</option>
                                <!-- <option value="ethiopia">Ethiopia</option>
                                <option value="colombia">Colombia</option> -->
                            </select>
                        </div>
					</td>
					<td>
						<!-- <input type="number" name="price-1" value=""> -->
                        <span data-th-text="${silver_price}" name="price-1"></span>
					</td>
					<td>
						<input type="number" name="qty-1" value="">
					</td>
				</tr>
				
			</tbody>
		</table>

		<button type="submit">Create PO</button>

	</form>
</body>
</html>