<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Registration</title>
</head>
<body>

    <h2> Successful Registration for 
        <span data-th-text="${username}"></span>
    </h2>
    <table>
        <tr>
            <td></td>
            <td><span data-th-text="${message}"></span></td>
        </tr>
        <tr>
            <div class="col d-flex justify-content-end">
                <a href="/" class="btn btn-danger btn-lg">Back</a>
            </div>
        </tr>
    </table>
    
</body>
</html>