<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold Marketplace</title>

    <link href="pricing.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
    </svg>

    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">

                    <img class="me-2" src="images/HatchfulExport-All/pinterest_board_photo.png" alt="" width="40" height="40" />

                    <span class="fs-4">
                        Welcome <span data-th-text="${username}"></span>
                    </span>
                </a>

                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/"> Logout </a>
                </nav>
            </div>

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Get Your Latest Gold and Silver prices here! </h1>
                <p class="fs-5 text-muted">Select from the list on what you would like to know today</p>
            </div>
        </header>

        <main>
            <div class="py-5 text-center">

                <div class="row row-cols-1 row-cols-md-2 mb-2">
    
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">Metal Prices</h4>
                            </div>
                            <div class="card-body">    
    
                                <form method="GET" action="/getprices">
                
                                    <div class="mb-3">
                                        <label for="currency" class="form-label">Currency Format</label>
                                        <select class="form-select" id="currency" name="currency">
                                            <option value="USD" selected>US Dollar</option>
                                            <option value="AUD">Australia Dollar</option>
                                            <option value="SGD">Singapore Dollar</option> 
                                            <option value="GBP">British Pound</option>  
                                            <option value="EUR">European Euro</option> 
                                            <option value="MYR">Malaysian Ringgit</option>   
                                        </select>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-dark">Submit</button>
                                </form>
                            </div>
                        </div>
    
                        
                    </div>
    
                    
    
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm border-warning">
                            <div class="card-header py-3 bg-warning border-warning">
                                <h4 class="my-0 fw-normal">Checkout Page Link</h4>
                            </div>
                            <div class="card-body">
                                <form method="GET" action="/checkOrderId">
    
                                    <div class="mb-3">
                                        <label for="address" class="form-label">Key in your Order Id </label>
                                        <input type="text" class="form-control" name="orderid" id="orderid" placeholder="443sda3q4">
                                    </div>
    
                                    <button type="submit" class="w-100 btn btn-lg btn-warning">Check now</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
    
                </div>
			</div>
        </main>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="me-2" src="images/HatchfulExport-All/pinterest_board_photo.png" alt="" width="40"
                        height="40" />
                    <small class="d-block mb-3 text-muted" style="margin-top: 10px;">&copy; 2017–2022</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>





</body>



</html>